<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Danh sách các sản phẩm</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <form action="/" id="create" method="post" enctype="multipart/form-data" class="form">
        <input type="text" name="id" placeholder="id">
        <input type="text" name="name" placeholder="name">
        <input type="number" name="qty" placeholder="quantity">
        <input type="submit" value="Submit"/>
    </form>
    <form method="post" action="/delete" enctype="multipart/form-data" class="content">
        <table border="1">
            <tr>
                <th>Ma SP</th>
                <th>Ten SP</th>
                <th>So Luong</th>
                <th>Chon</th>
            </tr>
            <% for (let i = 0; i < data.length; i++) { %>
                <tr>
                    <td><%= data[i].id %></td>
                    <td><%= data[i].name %></td>
                    <td><%= data[i].qty %></td>
                    <td><input type="checkbox" name="<%=data[i].id%>" /></td>
                </tr>
            <% } %>
        </table>
        <input type="submit" value="Delete"/>
    </div>
</body>
</html>
